<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.technology.center">
    <!-- 权限设置 -->
    <!-- 震动效果 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 适配屏幕 -->
    <!-- 存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:resizeable="true"
        tools:replace="android:resizeable" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XW_Customs_Android"
        tools:replace="android:allowBackup">

        <!-- 如果您使用Android 9.0及以上版本（必须使用） -->
        <!-- 这个元素用于指定该应用程序必须链接的共享类库。这个元素告诉系统该应用程序包的类装载器中所包含的类库代码。 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.welcome.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.welcome.WelcomeGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.user.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.user.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.user.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.user.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.user.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.about.AboutAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.push.MfrMessageActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:path="/thirdpush"
                    android:scheme="agoo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.qr.QrCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.custom.DelegateRegistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".view.custom.DelegateInspectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.CertificateManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.CertificateQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.PaymentServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.MyCourierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.DelegateAcceptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.SamplingRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.ResultsRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.DelegateRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.DelegateApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".view.custom.DelegateRecordDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.MyCourierDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.DelegateAcceptDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.SamplingRecordDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.ResultsRegisterDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.MsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.MsgDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.BranchCenterWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.StatisticsQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.StatisticsAcceptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.StatisticsEntrustActivity"
            android:screenOrientation="portrait" />
        <receiver
            android:name=".Recevier.MfrMzMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=105953189" />
    </application>

</manifest>